<?xml version="1.0"?>

<robot name="thor_mang_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find thor_mang_description)/urdf/thor_arm_7dof.urdf.xacro" />
  <xacro:include filename="$(find thor_mang_description)/urdf/thor_arm_7dof_simple.urdf.xacro" />
  <xacro:include filename="$(find thor_mang_description)/urdf/thor_mang_torso.urdf.xacro.xml" />
  <xacro:include filename="$(find thor_mang_description)/urdf/thor_mang_leg.urdf.xacro.xml" />

  <xacro:include filename="$(find thor_mang_description)/hands/$(env LEFT_HAND_TYPE).urdf.xacro" />
  <xacro:include filename="$(find thor_mang_description)/hands/$(env RIGHT_HAND_TYPE).urdf.xacro" />
    
    
  <!-- 
  <link name="pelvis"/>
    
  <thor_arm_7dof_macro parent="pelvis" name="l">
    <origin xyz="0.0 -0.1 0.0" rpy="0 ${(M_PI/2)*0} 0"/>
  </thor_arm_7dof_macro>
  
  <thor_arm_7dof_macro parent="pelvis" name="r">
    <origin xyz="0.0 0.1 0.0" rpy="0 ${(-M_PI/2)*0} ${-M_PI}"/>
  </thor_arm_7dof_macro>-->
  
  
  
  <thor_mang_torso_macro />
  
  <thor_mang_leg_macro parent="pelvis" name="l" reflect="1">
    <origin xyz="0.0 0.072 -0.082" rpy="0 0 0"/>
  </thor_mang_leg_macro>
  
  <thor_mang_leg_macro parent="pelvis" name="r" reflect="-1">
    <origin xyz="0.0 -0.072 -0.082" rpy="0 0 0"/>
  </thor_mang_leg_macro>
  
  <thor_arm_7dof_simple_macro parent="utorso" name="l" reflect="1">
    <origin xyz="0.0 0.183 0.165" rpy="0 0 0"/>
  </thor_arm_7dof_simple_macro>
  
  <thor_arm_7dof_simple_macro parent="utorso" name="r" reflect="-1">
    <origin xyz="0.0 -0.183 0.165" rpy="0 0 0"/>
  </thor_arm_7dof_simple_macro>
  
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>thor_mang</robotNamespace>-->
    </plugin>
  </gazebo>
      
</robot>
