<?xml version="1.0"?>

<robot name="thor_mang_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find thor_mang_description)/robots/thor_mang_tud.urdf.xacro.xml" />
  <xacro:include filename="$(find thor_vt_hand_description)/hands/vt_hands_tud.urdf.xacro.xml" />
  
  <thor_mang_tud_macro />
  <vt_hands_tud_macro />
      
</robot>
