<?xml version="1.0"?>

<robot  name="thor_poking_stick" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <macro name="thor_poking_stick_macro" params="parent *origin">
  
  <joint name="poking_stick_joint" type="fixed">
    <insert_block name="origin"/>
    <parent
      link="${parent}" />
    <child
       link="poking_stick"/>
  </joint>      

  <link name="poking_stick">
   <inertial>
     <origin xyz="0.05 0 0" rpy="0 0 0"/>
     <mass value="0.2"/>
     <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
   </inertial>

   <visual>
     <origin xyz="-0.055 0 0" rpy="0 1.57 0" />
     <geometry>
       <cylinder radius="0.007" length="0.115" />
     </geometry>
     <material name="Cyan">
       <color rgba="0 1.0 1.0 1.0"/>
     </material>
   </visual>

   <collision>
     <origin xyz="0 0 0" rpy="0 1.57 0"/>
     <geometry>
       <cylinder radius="0.001" length="0.001"/>
     </geometry>
   </collision>
 </link>
  
  </macro>
</robot>

